<div class="container">
  <h2>Logout</h2>
  <button class="btn btn-primary" type="button" id="logout-button" (click)="logout()">Logout</button>

  <hr />

  <h2>Cadastro de Produto</h2>
  <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()" class="produto-form">
    <div class="col-4">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input class="form-control" id="nome" type="text" formControlName="nome" />
      </div>

      <div class="mb-3">
        <label for="marca" class="form-label">Marca:</label>
        <input class="form-control" id="marca" type="text" formControlName="marca" />
      </div>

      <div class="mb-3">
        <label for="valor" class="form-label">Valor:</label>
        <input class="form-control" id="valor" type="number" step="0.01" formControlName="valor" />
      </div>
    </div>

    <br>

    <div>
      <button class="btn btn-primary" type="submit" [disabled]="produtoForm.invalid">
        {{ produtoEditando ? 'Atualizar' : 'Salvar' }}
      </button>
      @if (produtoEditando) {
      <button class="btn btn-danger" type="button" (click)="cancelarEdicao()">Cancelar</button>
      }
    </div>
  </form>

  <hr />

  <h2>Lista de Produtos</h2>

  @if (produtos) {
  <table class="table produtos-tabela">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>Nome</th>
        <th>Marca</th>
        <th>Valor</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      @for (produto of produtos; track produto.id) {
      <tr>
        <th scope="col">#</th>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.marca }}</td>
        <td>{{ produto.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
        <td>
          <button class="btn btn-warning" type="button" (click)="editarProduto(produto)">Editar</button>
        </td>
        <td>
          <button class="btn btn-danger" type="button" (click)="deletarProduto(produto.id)">Deletar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p>Nenhum produto encontrado.</p>
  }
</div>