<div class="container">
    <div *ngIf="mensagem" class="alert alert-warning">
        {{ mensagem }}
    </div>

    <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="login" class="col-form-label">Usuário/Email</label>
                <input class="form-control" id="login" formControlName="login" type="text">
                <span *ngIf="loginFormGroup.get('login')?.invalid && loginFormGroup.get('login')?.touched">
                    Por favor, insira um usuário ou email válido.
                </span>
            </div>

            <div class="col-auto">
                <label for="senha" class="col-form-label">Senha:</label>
                <input class="form-control" id="senha" formControlName="senha" type="password" />
                <span *ngIf="loginFormGroup.get('senha')?.invalid && loginFormGroup.get('senha')?.touched">
                    A senha é obrigatória.
                </span>
            </div>
            
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" [disabled]="loginFormGroup.invalid">Entrar</button>
            </div>
        </div>
    </form>
</div>